<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<meta charset="UTF-8">
<title>Cadastrar Evento</title>
<!-- Favicons -->
   <link rel="stylesheet" href="assets/css/index.css">
	<link href="assets/img/favicon.png" rel="icon">
	<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
	<!-- Bootstrap CSS File -->
	<link rel="stylesheet" href="assets/lib/bootstrap/css/bootstrap.min.css">
	<!-- Libraries CSS Files -->
	<link rel="stylesheet" href="assets/lib/font-awesome/css/font-awesome.min.css">
	<link href="assets/lib/animate/animate.min.css" rel="stylesheet">
	<link href="assets/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
	<link href="assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="assets/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
	<!-- Main Stylesheet File -->
	<link rel="stylesheet" href="assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">
	<!-- Main Stylesheet File -->
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<header id="header">

	<div class="container">
		<div class="logo float-left">
        	<h1 class="text-light"><a href="/paginaInicial" class="scrollto"><span>IFPE</span></a></h1>
      	</div>
		<nav class="main-nav float-right d-none d-lg-block">
			<ul>
				<li class="active"><a href="#intro">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="/exibirFormEvento">Cadastrar evento</a></li>
				<li class="nav-item"><a class="nav-link" href="/exibirFormPalestrante">Cadastrar palestrante</a></li>
				<li class="nav-item"><a class="nav-link " href="/exibirFormSala">Cadastrar sala</a></li>
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Listas</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/listarParticipante">Listar participantes</a>
						<a class="dropdown-item" href="/listarPalestrante">Listar palestrantes</a>
					</div>
				</li>
			</ul>
		</nav>
      
	</div>
</header>
<br><br><br><br><br><br>

<form th:action="@{/salvarEvento}" th:object="${evento}"  method="post">
<input type="hidden" th:value="*{idEvento}"/>

  <div class="form-group">
    <label for="exampleFormControlInput1" class="col-lg-4">Nome da Atividade</label>
    <input type="text" class="ml-3 form-control col-lg-4" id="" placeholder="" th:field="*{nomeAtividade}">
  </div>
  
 <div class="form-group">
    <label for="exampleFormControlInput1" class="col-lg-4">Sala</label>
    <input type="text" class="ml-3 form-control col-lg-4" id="exampleFormControlInput1" placeholder="" th:field="*{sala}">
  </div>
 
  <div class="ml-1 form-group col-lg-8">
    <label for="exampleFormControlSelect1" class="col-lg-">Selecione o Palestrante</label>
    <select class="form-control col-lg-6" id="exampleFormControlSelect1">
      <option>Selecione o Palestrante pelo nome</option>
      <option th:each="pale : ${lista}" th:text="*{palestrante.nome}" th:value="${palestrante.id}" />
     </select>
  </div><br>
  
   <div class="ml-3 form-group" >
    <label for="exampleFormControlSelect1">Data/hora</label>
    <input type="date" th:field="*{data}">
  </div><br>
  
  <div class="ml-3 form-group">
    <label for="exampleFormControlSelect1">Salas/Vagas disponiveis</label>
    <select class="form-control col-lg-6" id="exampleFormControlSelect1"></select>
  </div>
  
  <div class="ml-3 form-group">
    <label for="exampleTextarea">Descricao</label>
    <textarea class="form-control col-lg-6" id="exampleTextarea" rows="3" th:field="*{descricao}"></textarea>
  </div>
  
  <button class="ml-3 form-group" type="submit">Enviar</button>
</form>

<footer id="footer" class="section-bg">
    
 
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>TIJG3PNOITE</strong>. All Rights Reserved
      </div>
    </div>
  </footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- JavaScript Libraries -->
  <script src="assets/lib/jquery/jquery.min.js"></script>
  <script src="assets/lib/jquery/jquery-migrate.min.js"></script>
  <script src="assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/lib/easing/easing.min.js"></script>
  <script src="assets/lib/mobile-nav/mobile-nav.js"></script>
  <script src="assets/lib/wow/wow.min.js"></script>
  <script src="assets/lib/waypoints/waypoints.min.js"></script>
  <script src="assets/lib/counterup/counterup.min.js"></script>
  <script src="assets/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="assets/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="assets/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="assets/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="assets/js/main.js"></script>
        <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ft-logo"><!-- <img src="assets/img/iftech.png" alt=""> --></div>
                </div>
            </div>
            <hr class="footer-line">
            <div class="row ">
                <!-- footer-about -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                    <div class="footer-widget ">
                        <div class="footer-title">Empresa</div>
                        <ul class="list-unstyled">
                            <li><a href="#">Sobre nós</a></li>
                            <li><a href="#">Contato</a></li>
                            <li><a href="#">Politica de privacidade</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-about -->
                <!-- footer-links -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                    <div class="footer-widget ">
                        <div class="footer-title">Atividades</div>
                        <ul class="list-unstyled">
                            <li><a href="#">Inscreva-se</a></li>
                            <li><a href="#">Certificados</a></li>
                            <li><a href="#">Eventos</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- footer-links -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                    <div class="footer-widget ">
                        <div class="footer-title">Social</div>
                        <ul class="list-unstyled">
                           
                            <li><a href="#">Google +</a></li>
                            <li><a href="#">Linked In</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- footer-links -->
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title">Receba informações por email</h3>
                        <form>
                            <div class="newsletter-form">
                                <input class="form-control" placeholder="Digite seu email" type="text">
                                <button class="btn btn-default btn-sm" type="submit">Go</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- tiny-footer -->
            </div>
            <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
                    <div class="tiny-footer">
                        <p>Copyright © All Rights Reserved 2020 | Template Design & Development by <a href=";;;; " target="_blank" class="copyrightlink"> TIJG NOITE</a></p>
                    </div>
                </div>
                <!-- /. tiny-footer -->
            </div>
        </div>
    </div>
    <!-- /.footer -->
</body>
</html>